#name{
color: black;
background-color: aqua;
text-align: center;
width: 50%;
margin: auto;
border-style: solid;
border-color: blue;
border-radius: 100px;
padding: 30px;
}
#Email{
text-transform: capitalize;
border-radius: 5px;
background-color:rgb(199, 199, 128);
margin: auto;;
}
#email{
text-transform: capitalize;
border-radius: 5px;
background-color: rgb(199, 199, 128);
}
#button{

text-transform: capitalize;
border-radius: 5px;
background-color:rgb(199, 199, 128);
}
